<!DOCTYPE html>
<html lang="en">

<%- include("./comps/head") %>

<body>

  <%- include("./comps/navbar") %>

  <div class="container-editar-story">
    <h4>Editar historia <%= uniqueStory.title %></h4>
    <div class="row">
      <form action="/stories/guardarEdit" method="POST" class="col s12">

        <!-- uniqueStory -->

        <div class="row">
          <div class="input-field">
            <input type="text" id="title" name="title" value="<%= uniqueStory.title %>">
            <label for="title">Título</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field">
            <input type="hidden" value=<% uniqueStory.status %> id="hiddenStatus" />
            <select name="status" id="status">
              <% if (uniqueStory.status === "private") { %>
              <option value="private" id="private">Privada</option>
              <option value="public" id="public">Pública</option>
              <% } else { %>
              <option value="public" id="public">Pública</option>
              <option value="private" id="private">Privada</option>
              <% } %>
            </select>
            <label for="title">Estado</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field">
            <h5>Contanos...</h5>
            <textarea name="body" id="body">
                <%= uniqueStory.body %>
            </textarea>
          </div>
        </div>

        <div class="row">
          <div class="input-field">
            <input type="hidden" id="id" name="id" value="<%= uniqueStory._id %>">
          </div>
        </div>

        <div class="row">
          <input type="submit" value="guardar" class="btn">
          <a href="/dashboard" class="btn orange">Cancelar</a>
        </div>

      </form>
    </div>
  </div>



  <%- include("./comps/scriptsMat.ejs") %>

  <script>
    const publicOpt = document.getElementById("public")
    const privateOpt = document.getElementById("private")
    const estadoDeHistoria = document.getElementById("estadoDeHistoria")

    console.log("estadoDeHistoria.innerText", estadoDeHistoria.innerText);

    if (estadoDeHistoria.innerText === "privada") {
      privateOpt.setAttribute("selected", true)
      privateOpt.classList.remove("selected")
    } else {
      publicOpt.setAttribute("selected", true)
      privateOpt.classList.remove("selected")
      publicOpt.style.color = "red"
    }
  </script>

</body>

</html>